header {
    background-color: rgb(255, 255, 255);
}
.analysis-result {
    background: #FFF9EB;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Pastikan tinggi minimum body mencakup seluruh viewport */
    color: #333;
}
/* Kontainer utama */
#content {
    padding: 40px; /* Tambahkan padding atas */
    border-radius: 12px;
    max-width: 1000px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
}
/* Judul dengan gradien warna */
h1 {
    font-size: 2.2em;
    font-weight: 800;
    background: linear-gradient(45deg, #DFAEA0, #B4807D, #374375);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
h1:hover {
    text-shadow: 2px 2px 10px #ffcbb5, 2px 2px 20px #fcdcdc;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

/* Kotak untuk hasil skor SEO */
.score-box {
    border: 1px solid #B4807D;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #FFFCF5;
}
/* Judul skor SEO */
.score-title {
    font-weight: 800;
    font-size: 1.4em;
    color: #374375;
    margin-bottom: 10px;
}
/* Detail skor SEO */
.score-details {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFCE0;
    border: 1px solid #B4807D;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.score-list {
    margin: 1rem 1rem 1rem 1rem;
}

/* Additional styles for dropdown */
.dropdown-content {
    display: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown.active .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.dropdown-content a {
    display: block; /* Make links block level for full width */
    padding: 0.5rem 1rem; /* Padding for each item */
    color: #4A5568; /* Text color */
}
.dropdown-content a:hover {
    background-color: rgba(237, 234, 248, 1);
    color: #333;
    transition: all 0.2s ease-in-out;
}
.dropdown-content a:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Border between items */
}

.analysis-result {
    background: #FFF9EB;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Pastikan tinggi minimum body mencakup seluruh viewport */
    color: #333;
}
/* Kontainer utama */
#content {
    padding: 40px 30px; /* Tambahkan padding atas */
    border-radius: 12px;
    max-width: 1000px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
}
/* Judul dengan gradien warna */
h1 {
    font-size: 2.2em;
    font-weight: 800;
    background: linear-gradient(45deg, #DFAEA0, #B4807D, #374375);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards ease-in-out;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Kotak untuk hasil skor SEO */
.score-box {
    border: 1px solid #B4807D;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #Fffce0;
}
/* Judul skor SEO */
.score-title {
    font-weight: 800;
    font-size: 1.4em;
    color: #374375;
    margin-bottom: 10px;
}
/* Detail skor SEO */
.score-details {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFCE0;
    border: 1px solid #B4807D;
    text-align: left;
    font-size: 1rem;
}
/* Skor Final */
.final-score {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    text-align: left;
    margin-bottom: 1rem;
}
/* Section untuk tombol pelacakan performa */
.track-performance {
    font-size: 1.2em;
    font-weight: 600;
    background: linear-gradient(45deg, #DFAEA0, #B4807D, #374375);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 30px;
}
/* Tombol rekomendasi */
.recommendation-link {
    display: inline-block;
    background-color: #B4807D;
    color: #FFFCF5;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.recommendation-link:hover {
    background-color: #8f597e;
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Tombol kembali ke halaman sebelumnya */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #825012;
    color: #FFFCF5;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}
/* Icon panah di dalam tombol kembali */
.back-button::before {
    content: '←';
    font-size: 1.2em;
    margin-right: 5px;
}
.score-indicator {
width: 100%;
background-color: #f0e6d6;
border-radius: 5px;
margin-top: 15px;
height: 10px;
overflow: hidden;
margin-bottom: 2em;
}
.progress-bar {
height: 100%;
background-color: #b4807d;
transition: width 0.5s ease-in-out;
}
.tooltip-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #b4807d;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
}
.tooltip-icon::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    top: -5px;
    left: 110%;
    width: 200px;
    background: #333;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: left;
    white-space: normal;
    z-index: 10;
}
.tooltip-icon:hover::after {
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
    color: #333;
}

h1 {
    font-size: 2.2em;
    font-weight: 800;
    background: linear-gradient(45deg, #DFAEA0, #B4807D, #374375);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin: 20px 0;
}

.analysis-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#content {
    background: linear-gradient(to left, #FBD7C7, #FFF5DC);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    padding: 20px;
    text-align: left;
}

.score-box, .info-box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFCE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.score-title {
    font-size: 1.5em;
    font-weight: 700;
    color: #825012;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background: #B4807D;
    color: #fff;
}

footer {
    background-color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.footer-container h2 {
    color: #B4807D;
}

footer a {
    color: #B4807D;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}
